<div class="news_main">
    <div class="news_main_div">
        <div class="news_main_left">
            <div class="title">
                <a href="">ტექნოლოგიები</a>
                <h2>ხელოვნურ ინტელექტზე დაფუძნებულ მოწყობილობას ადამიანებთან უსასრულოდ კამათი შეუძლია</h2>
            </div>
            <div class="news">
                <div class="news_left">
                    <p>10 <br>Shares</p>
                    <i class="fa-brands fa-facebook-f fa-lg"></i>
                    <i class="fa-solid fa-link fa-lg"></i>
                </div>
                <div class="news_right">
                    <img src="../../../assets/putin-and-erdogan.jpg" alt="">
                    <p>MacBook-ზე “სენსორული ხაზი” ყველასათვის საკმაოდ კომფორტულ გამოსავლად იქცა. იგი შეიქმნა, როგორც გამორჩეული ფუნქცია, ძირითადი დანიშნულების გარეშე. ალბათ, ვიდრე მას რეალურად ვიხილავდით, ვერც კი წარმოგვედგინა, რამდენად მოსახერხებელი შეიძლებოდა გამხდარიყო სხვადასხვაგვარი მოქმედებების შესრულება.
                                <br><br><br>
                        MacBook-ზე “სენსორული ხაზი” ყველასათვის საკმაოდ კომფორტულ გამოსავლად იქცა. იგი შეიქმნა, როგორც გამორჩეული ფუნქცია, ძირითადი დანიშნულების გარეშე. ალბათ, ვიდრე მას რეალურად ვიხილავდით, ვერც კი წარმოგვედგინა, რამდენად მოსახერხებელი შეიძლებოდა გამხდარიყო სხვადასხვაგვარი მოქმედებების შესრულება.</p>
                    <img src="../../../assets/putin-and-erdogan.jpg" alt="">

                    <p>MacBook-ზე “სენსორული ხაზი” ყველასათვის საკმაოდ კომფორტულ გამოსავლად იქცა. იგი შეიქმნა, როგორც გამორჩეული ფუნქცია, ძირითადი დანიშნულების გარეშე. ალბათ, ვიდრე მას რეალურად ვიხილავდით, ვერც კი წარმოგვედგინა, რამდენად მოსახერხებელი შეიძლებოდა გამხდარიყო სხვადასხვაგვარი მოქმედებების შესრულება.
                        <br><br><br>
                         MacBook-ზე “სენსორული ხაზი” ყველასათვის საკმაოდ კომფორტულ გამოსავლად იქცა. იგი შეიქმნა, როგორც გამორჩეული ფუნქცია, ძირითადი დანიშნულების გარეშე. ალბათ, ვიდრე მას რეალურად ვიხილავდით, ვერც კი წარმოგვედგინა, რამდენად მოსახერხებელი შეიძლებოდა გამხდარიყო სხვადასხვაგვარი მოქმედებების შესრულება.</p>
                </div>
            </div>
        </div>
        <div class="news_main_right">
            <h3>უახლესი ნიუსები</h3>
            <app-last-news></app-last-news>
        </div>
    </div>
</div>